.background{
    background-color: rgb(235, 203, 135);
    display: flex;

}
/* @media screen (min-width: 600px
) and (max-width:1500px)
.container{
    

} */
.container{
    margin-top: 2%;
    margin-left: 25%;
    height: 600px;
    width: 300px;
    background-color: rgb(235, 81, 145);
    border-radius: 24px;
    display: flex;

}
.container-right{
    margin-top: 2%;
    margin-left: 10%;
    opacity: 40%;
    height: 600px;
    width: 300px;
    background-color: rgb(228, 146, 180);
    border-radius: 24px;
    display: flex;


}
.img-holder{
    padding: 1%;
    margin: 5%;
    margin-top: -20%;        
    margin-left: 46%;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    border: 1px solid pink;

}
.left-img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
p{
    color: white;
    position:relative;
    top: 270px;
    left: 20px;
    font-size: 8px;
}
h1 {
    font-size: 20px;
    color:white;
    position: relative;
    top: 260px;
    left: 10px;
    font-family:serif;
    font-stretch: extra-expanded;
    font-weight: 800px;

}
.yellow{
    height: 30px;
    width: 30px;
    background-color: gold;
    border-radius: 50%;
    position: relative;
    left: 43%;
    top: 7%;
    }
.sky-green{
    height: 15px;
    width: 15px;
    background-color: rgb(0, 255, 170);
    border-radius: 50%;
    position: relative;
    left: 19%;
    top: 25%;
    }
.deeppink{
     height: 30px;
     width: 30px;
     background-color: rgb(255, 0, 98);
     border-radius: 50%;
     position: relative;
        
    }

.card-dwn{
    height: 300px;
    width: 290px;
    background-color: #ffff;
    border-radius:25px;
    padding: 6px;
    position: relative;
    top: 20%;
}
.search{
    border-radius: 29px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgb(88, 90, 92);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    font-weight: 700;
    background-color: rgb(94, 94, 218);
    margin-left: 3%;
    width: 270px;
    height: 35px;
}
.search:hover{
    transition: 0.7s;
    background-color: rgb(165, 110, 228);

}
span{
    margin: 15px;
    padding: 5px;
    position: relative;
    top: 10px;
    font-size: 12px;
    margin-left: 5%;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
label{
    
    font-size: 11px;
    height: 30px;
    width: 60px;
    border-radius: 26px;
    padding: 10px;
    position: relative;
    left: 18px;
    bottom: 20px;
}
.time{
    font-size:11px;
    background-color: rgb(182, 181, 181);
    height: 5px;
    width: 100px;
    border: 1px;
    padding: 5px;
    margin: 5px;
    margin-left:30px;
    margin-top: 15%;
    border-radius: 26px;
}
.div-lang{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    align-content: center;
    padding: 10px;
    position: relative;
    top: 15px;
    /* border: 1px solid red; */
    width: 95%;
    height: 100px;
}

.div-lang > .span-div-lang{
    border-radius: 26px;
    height: 20px;
    width:70px;
    text-align: center;
    font-size: 11px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background: transparent;
    border: 1px solid rgb(231, 99, 176);

}
#ame{
    background-color:#eb87a2;
    color: rgb(255, 6, 139);
    opacity: 51%;
}
#chin{
    background-color:#eb87a2;
    color: rgb(255, 6, 139);
    opacity: 51%;
}
.indicator{
    height: 100px;
    width: 100px;
    display: flex;

}
.dislike{
    height: 60px;
    width: 50px;
    margin-left:2%;
    border-radius: 50px;
}
.like{
    height: 60px;
    width: 50px;
    margin-left:6%;
    border-radius: 50px;
}
img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}