*{
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.container{
  margin: 0 auto;
  height: 400px;
  width: 250px;
  background-color: antiquewhite;
}