/* .container{
height: 120px;
width: 220px;
background-color: rgb(255, 255, 255);
} */

/* .container{
    margin: 0 auto;
    height: 400px;
    width: 250px;
    background-color: antiquewhite;
  } */
  .card{
      background-color:#ffff;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      height: 500px;
      width: 300px;
      margin-top: 8%;
  }